In [19]:
import pandas
import numpy
import matplotlib

In [25]:
columns_to_read = [
    'location',
    'date',
    'total_cases',
    'new_cases',
    'total_deaths',
    'new_deaths',
    'population',
    'people_fully_vaccinated',
    'median_age',
    'aged_65_older',
    'cardiovasc_death_rate',
    'diabetes_prevalence'
]

covid = pandas.read_csv('owid-covid-data_top10.csv', sep=',', encoding='utf8', usecols=columns_to_read)

In [ ]:
covid['year_month'] = covid['date'].str[0:7]
covid['year_month']

In [31]:
covid_by_month = covid.groupby(by = ['location', 'year_month'], as_index= False).agg(
    total_cases = ('total_cases', 'max'),
    new_cases = ('new_cases', 'sum'),
    total_deaths = ('total_deaths', 'max'),
    new_deaths = ('new_deaths', 'sum'),
    population = ('population', 'mean'),
    people_fully_vaccinated = ('people_fully_vaccinated', 'max'),
    median_age = ('median_age', 'min'),
    aged_65_older = ('aged_65_older', 'mean'),
    cardiovasc_death_rate = ('cardiovasc_death_rate', 'mean'),
    diabetes_prevalence = ('diabetes_prevalence', 'mean')
)

In [32]:
covid_by_month

,location,year_month,total_cases,new_cases,total_deaths,new_deaths,population,people_fully_vaccinated,median_age,aged_65_older,cardiovasc_death_rate,diabetes_prevalence
0,Brazil,2020-02,2.0,2.0,NaN,0.0,213993441.0,NaN,33.5,8.552,177.961,8.11
1,Brazil,2020-03,5717.0,5715.0,201.0,201.0,213993441.0,NaN,33.5,8.552,177.961,8.11
2,Brazil,2020-04,87187.0,81470.0,6006.0,5805.0,213993441.0,NaN,33.5,8.552,177.961,8.11
3,Brazil,2020-05,516137.0,428950.0,29367.0,23361.0,213993441.0,NaN,33.5,8.552,177.961,8.11
4,Brazil,2020-06,1412669.0,916328.0,59792.0,30425.0,213993441.0,NaN,33.5,8.552,177.961,8.11
...,...,...,...,...,...,...,...,...,...,...,...,...
264,United States,2021-11,48582403.0,2547313.0,781652.0,34249.0,332915074.0,199916776.0,38.3,15.413,151.089,10.79
265,United States,2021-12,54810020.0,6227617.0,827893.0,46241.0,332915074.0,207510289.0,38.3,15.413,151.089,10.79
266,United States,2022-01,74984166.0,20174146.0,889490.0,61597.0,332915074.0,212184168.0,38.3,15.413,151.089,10.79
267,United States,2022-02,79044330.0,4060164.0,950732.0,61242.0,332915074.0,215103151.0,38.3,15.413,151.089,10.79
268,United States,2022-03,79265726.0,221396.0,958437.0,7705.0,332915074.0,215274110.0,38.3,15.413,151.089,10.79