In [13]:
import pandas
import numpy

In [6]:
dataset = pandas.read_csv('owid-covid-data_top10.csv')

In [7]:
dataset[dataset['iso_code'].isin(["BRA", "USA"])]

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,BRA,South America,Brazil,2020-02-26,1.0,1.0,NaN,NaN,NaN,NaN,...,10.1,17.9,NaN,2.20,75.88,0.765,NaN,NaN,NaN,NaN
1,BRA,South America,Brazil,2020-02-27,1.0,0.0,NaN,NaN,NaN,NaN,...,10.1,17.9,NaN,2.20,75.88,0.765,NaN,NaN,NaN,NaN
2,BRA,South America,Brazil,2020-02-28,1.0,0.0,NaN,NaN,NaN,NaN,...,10.1,17.9,NaN,2.20,75.88,0.765,NaN,NaN,NaN,NaN
3,BRA,South America,Brazil,2020-02-29,2.0,1.0,NaN,NaN,NaN,NaN,...,10.1,17.9,NaN,2.20,75.88,0.765,7049.6,3.31,5.25,32.943066
4,BRA,South America,Brazil,2020-03-01,2.0,0.0,NaN,NaN,NaN,NaN,...,10.1,17.9,NaN,2.20,75.88,0.765,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7658,USA,North America,United States,2022-03-01,79091361.0,47031.0,62331.429,952423.0,1691.0,1830.000,...,19.1,24.6,NaN,2.77,78.86,0.926,NaN,NaN,NaN,NaN
7659,USA,North America,United States,2022-03-02,79143716.0,52355.0,57824.857,954518.0,2095.0,1725.000,...,19.1,24.6,NaN,2.77,78.86,0.926,NaN,NaN,NaN,NaN
7660,USA,North America,United States,2022-03-03,79196008.0,52292.0,55673.857,956261.0,1743.0,1553.714,...,19.1,24.6,NaN,2.77,78.86,0.926,NaN,NaN,NaN,NaN
7661,USA,North America,United States,2022-03-04,79250509.0,54501.0,52764.286,958144.0,1883.0,1497.857,...,19.1,24.6,NaN,2.77,78.86,0.926,NaN,NaN,NaN,NaN
7662,USA,North America,United States,2022-03-05,79265726.0,15217.0,47989.857,958437.0,293.0,1425.714,...,19.1,24.6,NaN,2.77,78.86,0.926,NaN,NaN,NaN,NaN

In [ ]:
dataset['new_cases_percetange'] = dataset['new_cases'] / dataset['total_cases']

columns_to_show = ['date', 'total_cases', 'new_cases', 'new_cases_percetange']

dataset[columns_to_show]

In [15]:
lg_new_cases = numpy.log(dataset['new_cases'])

columns_to_show_lg_new_cases = ['date', 'new_cases', 'total_cases']

dataset[columns_to_show_lg_new_cases]

/workspace/fantastic-sniffle/.venv/lib/python3.12/site-packages/pandas/core/arraylike.py:399: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

            date  new_cases  total_cases
0     2020-02-26        1.0          1.0
1     2020-02-27        0.0          1.0
2     2020-02-28        0.0          1.0
3     2020-02-29        1.0          2.0
4     2020-03-01        0.0          2.0
...          ...        ...          ...
7658  2022-03-01    47031.0   79091361.0
7659  2022-03-02    52355.0   79143716.0
7660  2022-03-03    52292.0   79196008.0
7661  2022-03-04    54501.0   79250509.0
7662  2022-03-05    15217.0   79265726.0

[7663 rows x 3 columns]